[submodule "libs/CommentRemover"]
	path = libs/CommentRemover
	url = https://github.com/YoshikiHigo/CommentRemover.git
[submodule "libs/nitron"]
	path = libs/nitron
	url = https://github.com:Durun/nitron.git
	branch = master
